<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="Servaind.Intranet" connectionString="server=localhost;database=Servaind.Intranet;uid=sa;pwd=orodis8siciliana$;" />
    <add name="Tango" connectionString="server=server-storage\\axsqlexpress;database=Servaind_S.A.uid=sa;pwd=Axoft1988;" />
    <add name="Proser" connectionString="server=localhost;uid=sa;pwd=orodis8siciliana$;database=Proser" />
  </connectionStrings>
  
  <appSettings>
    <add key="PathInstrumentosImg" value="\\10.0.0.4\calidad\SGI fuera de MULTISITIO\EQUIPOS SGI\@NUMERO\01 IMAGENES\" />
    <add key="PathInstrumentosCertificados" value="\\10.0.0.4\calidad\SGI fuera de MULTISITIO\EQUIPOS SGI\@NUMERO\02 CERTIFICADOS\CERTIF INST @NUMERO.pdf" />
    <add key="PathInstrumentosManuales" value="\\10.0.0.4\calidad\SGI fuera de MULTISITIO\EQUIPOS SGI\@NUMERO\03 MANUALES\" />
    <add key="PathInstrumentosEAC" value="\\10.0.0.4\calidad\SGI fuera de MULTISITIO\EQUIPOS SGI\@NUMERO\04 EAC\EAC @NUMERO.pdf" />
    <add key="PathInstrumentosComprobMant" value="\\10.0.0.4\calidad\SGI fuera de MULTISITIO\EQUIPOS SGI\@NUMERO\05 COMPROB\" />
	<add key="DEFAULT_SERVER" value="smtp.office365.com" />
	<add key="DEFAULT_PORT" value="587" />
	<add key="DEFAULT_USER" value="paulo.velardes@servaind.com" />
	<add key="DEFAULT_PWD" value="Inge*026" />
	<add key="DEFAULT_SENDER" value="paulo.velardes@servaind.com"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
