@using Proser.Common
@using Proser.Common.Data
@using Servaind.Intranet.Core
@{
    Layout = "~/Views/_layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
}

@section Scripts
{
    <script src="@Url.Content("~/assets/global/scripts/pager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/admin/pages/scripts/imputaciones/index.js")" type="text/javascript"></script>
}

@section ScriptsInit
{
    Imputaciones.init();
}

<h3 class="page-title">
    Administración de Imputaciones
</h3>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="/">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Sistemas</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Imputaciones</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <a href="javascript:;" class="btn green" id="btnImputacionAdd"><i class="fa fa-plus"></i> Agregar Imputación</a>
        </div>
    </div>
</div>

<div class="table-scrollable">
    <table class="table table-advance table-hover">
        <thead>
            <tr>
                <th style="width:10%" class="text-center">
                    Número
                </th>
                <th class="text-center">
                    Descripción
                </th>
                <th style="width:10%" class="text-center">
                    Activa
                </th>
            </tr>
            <tr>
                <td><input type="text" class="form-control text-center filter-field" maxlength="5" id="txtFilterNumero" /></td>
                <td><input type="text" class="form-control filter-field" maxlength="60" id="txtFilterDescripcion" /></td>
                <td></td>
            </tr>
        </thead>
        <tbody id="list-container">

        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-5 col-sm-12"></div>
    <div class="col-md-7 col-sm-12">
        <div class="dataTables_paginate" id="list-pager"></div>
    </div>
</div>

<div class="modal fade" id="dlgImputacion" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="dlgImputacionTitle"></h4>
            </div>
            <div class="modal-body">
                <form action="#" class="form" id="form-imputacion">
                    <div class="form-body">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Número</label>
                                <input type="text" class="form-control" id="txtNumero" name="txtNumero" maxlength="5">
                            </div>
                            <div class="form-group col-md-6">
                                <label>Activa</label>
                                <select class="form-control" id="cbActiva">
                                    <option value="1">Si</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Descripción</label>
                                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" maxlength="70">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnImputacionSave">Guardar</button>
            </div>
        </div>
    </div>
</div>